*{
    margin: 0%;
}
/*para computadoras*/
@media (min-width: 1024px){

body {
    background: linear-gradient( to top, black,goldenrod);
}

/*encabezado*/

header {
    display: flex ;
    background:linear-gradient(goldenrod, black);
    position: sticky;
    top: 0px;
    border: 2px solid black;
}
.imglogo {
    width: 130px;
    height: 130px ;
}
.ul{
    display: flex;
    margin-left: 190px; 
    font-size: 25px;
    color: goldenrod;
    list-style-type: none;
}

header ul li {
    margin: 15px ;
    
}
a{
    color: black;
    text-decoration: none;
}
.inicio {
    color: white;
}
.habitaciones {
    color: white;

}
.servicios {
    color: white;
}
.reserva {
    color: white;
}
.contacto {
    color: white;
}

/*main*/

h1{
color: black;
font-size: 50px;
margin: 1%;
text-align: center;
box-shadow: 10px 10px 40px 3px black;

}

/*inicio*/
.pinicio {
    color: white;
    font-family: 'Times New Roman', Times, serif ;
    font-size: 50px;
    text-align: center;

}
.imginicio {
    width: 550px;
    height: 550px;
}
.divinicio {
    display: flex;
}

/*habitaciones*/
.phabitaciones {
color: white;
font-family:Arial, Helvetica, sans-serif ;
font-size: 25px;
margin: 1%;
}

.imghabitaciones {
    width: 600px ;
    height: 400px;
}

/*servicios*/
.imgservicios {
    width: 200px;
    height: 200px;
}

.divservicios {
    display: flex;
}
.pservicios {
    font-size: 30px;
}
.ulservicios {
    font-size: 20px;
}
.imgvarias {
    width: 500px;
    height: 400px;
}

/*reserva*/
.imgreserva {
    width: 300px;
    height: 300px;
}   
.divreserva {
    display: flex;
}
.preserva {
    font-size: 30px ;
    font-family: Arial, Helvetica, sans-serif;
}

/*contacto*/
.imginstagram {
    width: 100px;
    height: 60px;
}
.imgfacebook {
    width: 60px;
    height: 60px;
    margin: 2%;
}
.divredes {
    display: flex;

}
.predes {
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 15px;
                                                                          

}
.pcontacto {
    font-size: 20px;
}

/*pie de pagina*/
footer p{
    color: white;
}

}




